<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
{% block body %}
<div class="container">
    <div align="center">
        <a href="/api-auth/login" >AUTH LOGIN</a><br><br><br><br>
        <a href="/api-auth/create" >TO CREATE USER</a><br><br><br><br>
        <a href="/api-auth/all" >ALL USER</a><br><br><br><br>
        <a href="/api-auth/currentUser" >AUTH LOGIN</a><br><br><br><br>
        <a href="/adimin" >FOR ALL SOCIAL LOGINS AND SOCIAL AUTH</a><br><br><br><br>
    </div>
</div>
{% endblock %}